
.scroller {
  height: auto;
}

.scroller img {
border-radius: 3px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller {
  overflow: hidden;
}

.scroller .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;

}


.scroll .scroller__inner {
  animation: scroll
    var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear
    infinite;
    animation-play-state:running;
}

.paused:hover{
  animation-play-state: paused !important;
  transition: .2s;
}



.fast {
  --_animation-duration: 25s;
}

.slow {
  --_animation-duration: 10s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
